//Created by chrisenabled on 6/11/16.
extends ../layouts/one-column-layout

append primary
    section
      form(action='/login', method='post')
        fieldset
          legend Login form
          div
            label Email:
            input(type='text', name='email', value=email)
          div
            label Password:
            input(type='password', name='password', value=password)
          div
            input(type='submit', value='Login')
    section
      form(action='/api/admins', method='post')
        fieldset
          legend Sign up form
          div
            label Email:
            input(type='text', name='email', value=email)
          div
            label Password:
            input(type='password', name='password', value=password)
          div
            input(type='submit', value='Sign up')
    section
      form(action='/request-password-reset', method='post')
        fieldset
          legend Reset password form
          div
            label Email:
            input(type='text', name='email', value=email)
          div
            input(type='submit', value='Reset password')

